# Backend API URL (Update this after deploying backend)
REACT_APP_API_URL=https://your-backend-url.vercel.app

# VAPID Public Key
REACT_APP_PUBLIC_KEY=BN2u6-t6iC6o0CKza2ifWfNy_OSovucgNlZwgeWoMbAYME6b5qdgdDD6WIX6c_SOAF-R15ZepMt0N4eTdFZlU04
