# VAPID Keys for Push Notifications
PUBLIC_KEY=BN2u6-t6iC6o0CKza2ifWfNy_OSovucgNlZwgeWoMbAYME6b5qdgdDD6WIX6c_SOAF-R15ZepMt0N4eTdFZlU04
PRIVATE_KEY=l_uWy8qBj22_JqzEAHlj6TvxTYM7xCqR2V7SFa_fmb4

# MongoDB Connection String (Replace with your MongoDB Atlas URL)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/pushnotifications?retryWrites=true&w=majority

# Optional: Port (Vercel will override this)
PORT=9000
